:root {
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Poppins", sans-serif;
}

.header {
    position: relative;
    height: 100vh;
    background-image: url(/assets/images/portadas/portada.png);
    background-size: cover;
    object-fit: cover;
    background-position-y: 100%;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 550px;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.botones {
    position: absolute;
    top: 48%;
    left: 56%;
    transform: translate(-50%, -50%);
}

.boton {
    outline: none;
    border-radius: 5px;
    transition: 0.25s;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.btn-blanco {
    background-color: #fff;
    color: #eca8b2;
    border: 1px solid #eca8b2;
}

.btn-blanco:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
}

.btn-rosa {
    background-color: #eca8b2;
    color: #fff;
    border: 1px solid #fff;
}

.btn-rosa:hover {
    background-color: #fff;
    color: #eca8b2;
    border: 1px solid #fff;
}

/* medias  */

@media (max-width: 500px) {
    .logo {
        width: 250px;
        top: 10%;
        left: 38%;
        transform: translate(-50%, -50%);
    }

    .botones {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.4);
         backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 20px;
    }
}
